body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 200px;
  /* background-color: #ffffff; */
  /* color: #fff; */
}

main {
  padding: 50px 0px;
  background-color: #f0f3ff;
}

#img {
  height: 570px;
  margin-left: 140px;
}

.container .header {
  padding-right: 100px;
  padding-left: 80px;
}

.container .header p {
  font-size: large;
}
.container .header button {
  background-color: #3a10e5;
  color: white;
  border: 0 solid;
  border-radius: 3px;
  padding: 8px 20px;
}

.container h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 65px;
  margin-top: 55px;
}

.yellow {
  background-color: #facb3b;
  padding-left: 180px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.pembelajaran {
  display: flex;
  justify-content: space-between;
  padding: 80px 180px 20px;
}

.pembelajaran a {
  padding: 10px 10px;
}

.kartu {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 1px;
  overflow: hidden;
  margin: 15px 0;
}

.kartu-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.kartu-body {
  padding: 20px;
}

.kartu-title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.kartu-text {
  color: #777;
  line-height: 1.6;
}

.kartu-link {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.logo img {
  max-width: 100px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px;
  padding-right: 10px;
}

nav a {
  text-decoration: none;
  color: #000000;
}

.accordion {
  width: 300px;
}
